<!DOCTYPE html>
<html>
<body> 

<p>Volunteer Information</p>
<div class="jumbotron">
         
        <%= form_for(:volunsignup, url: volunsignups_path) do |f| %>
        <div class="field"> 
            <%= f.label :first_name %><br>
    		<%= f.text_field :first_name, :placeholder => "First name" %><br>
    		<br>
    		<%= f.label :last_name %><br>
  	        <%= f.text_field :last_name, :placeholder => "Last name" %><br>
    		<br>
    		<%= f.label :car_type %><br>
    		<%= f.text_field :car_type, :placeholder => "Car type" %><br>
    		<br>
    		<%= f.label :car_capacity %><br>
  		    <%= f.number_field :car_capacity, :placeholder => "Capacity" %><br>
    		<br>
    		<%= f.label :email_field %><br>
    		<%= f.email_field :email, :placeholder => "Email" %><br>
    		<br>
    		<%= f.label :phone_number %><br>
         	<%= f.phone_field :phone_number, :placeholder => "Mobile" %><br>
   	        <br>
    		<br>
  	      </div>
  	    <%= f.submit "View posts", class:'btn' %>
  	    
  	    
        <% end %>
          


	

	
 </div>
 

</body>
</html>