<!DOCTYPE html>
<html>
<body> 

<p>Accept Information</p>
<div class="jumbotron">
         
        <%= form_for @request, :url => {:controller => "accepts", :action => "update"} do |f| %>
        <div class="field"> 
   	        <%= f.label :username %><br>
         	<%= f.text_field :accept_id, :placeholder => "Username" %><br>
   	        <br>
  	    </div>  
  	    <%= f.submit "Confirm",  class:'btn'%>    
  	    
        <% end %>


	

	
 </div>
 
<%= link_to 'Back', accepts_path %>

 

</body>
</html>