<!DOCTYPE html>
<html>
<body> 


<% @request.each do |t| %>
	<p>Request Poster: <%= t.request_id %></p>
    <p>Flight number: <%= t.last_flight_number %></p>
    <p>Time Arrived: <%= t.arriving_time %></p>
    <p>Number of baggage: <%= t.number_baggage %></p> 
    <p>Destination: <%= t.destination %></p>
    <td><%= link_to 'View', show_accept_path(t) %></td>  
    <% if t.accept_id == nil %>
	| <td><%= link_to 'Accept', edit_accept_path(t) %></td> |
	<% else %>
	| <td><%= link_to 'Matched' %></td> |
	<% end %>
	<td><%= link_to 'Back', signups_path %></td>
    <hr>
<% end %>

</body>
</html>