<!DOCTYPE html>
<html>
<body> 

<p id="notice"><%= notice %></p>

<% @signup.each do |t| %>
    <p>Name: <%= t.first_name %> <%= t.last_name %></p>
    <p>Username: <%= t.username %> </p>
    <p>Email: <%= t.email %></p> 
    <p>Mobile: <%= t.phone_number %></p>
<% end %>    
 
<p>
  <strong>Last Flight number</strong>
  <%= @request.last_flight_number %>
</p> 

<p>
  <strong>Arriving time</strong>
  <%= @request.arriving_time %>
</p> 

<p>
  <strong>Number of baggage</strong>
  <%= @request.number_baggage %>
</p> 

<p>
  <strong>Destination</strong>
  <%= @request.destination %>
</p>  

<% if @request.accept_id != nil %>
<hr>
<p>
  <strong>Your Corresponding Volunteer Information</strong>
</p>
<% @volunteer.each do |t| %>
    <p>Name: <%= t.first_name %> <%= t.last_name %></p>
    <p>Username: <%= t.username %> </p>
    <p>Email: <%= t.email %></p> 
    <p>Mobile: <%= t.phone_number %></p>
<% end %> 

<% end %>  
    
<%= link_to 'Back', accepts_path %> 


 

</body>
</html>