<!DOCTYPE html>
<html>
<body> 

<% @signup.each do |t| %>
    <p>Name: <%= t.first_name %> <%= t.last_name %></p>
    <p>Filght: <%= t.last_flight_number %>, Time: <%= t.arriving_time %></p>
    <p>Baggae number: <%= t.number_baggage %></p>
    <p>Destination: <%= t.destination %></p>
    <p>Email: <%= t.email %>, Mobile: <%= t.phone_number %></p>
<% end %>

</body>
</html>