<!DOCTYPE html>
<html>
<body> 

<p id="notice"><%= notice %></p>

<% @signup.each do |t| %>
    <p>Name: <%= t.first_name %> <%= t.last_name %></p>
    <p>Username: <%= t.username %> </p>
    <p>Email: <%= t.email %></p> 
    <p>Mobile: <%= t.phone_number %></p>
    <td><%= link_to 'View', t %></td> |
    <td><%= link_to 'Edit', edit_signup_path(t) %></td> |
    <td><%= link_to 'Destroy', t, method: :delete, data: { confirm: 'Are you sure to delete this personal profile?' } %></td>
    <hr>
<% end %>

</body>
</html>