<!DOCTYPE html>
<html>
<body> 

<p>Personal Information</p>
<div class="jumbotron">
         
        <%= form_for(:signup, url: signups_path) do |f| %>
          <div class="field"> 
            <%= f.label :first_name %>
    		<%= f.text_field :first_name, :placeholder => "First name" %><br>
    		<br>
    		<%= f.label :last_name %>
  	    	<%= f.text_field :last_name, :placeholder => "Last name" %><br>
    		<br>
    		<%= f.label :gender %>
    		<%= f.text_field :gender, :placeholder => "Gender" %><br>
    		<br>
    		<%= f.label :email_field %>
    		<%= f.email_field :email, :placeholder => "Email" %><br>
    		<br>
    		<%= f.label :phone_number %>
       		<%= f.phone_field :phone_number, :placeholder => "Mobile" %><br>
   	    	<br>
    		<br>
  	      </div>
  	    <%= f.submit "Next", class:'btn' %>
        <% end %>
          


	

	
 </div>
 

</body>
</html>