<!DOCTYPE html>
<html>
<body> 

<p>Ride Information</p>
<div class="jumbotron">
         
        <%= form_for(:request, url: requests_path) do |f| %>
        <div class="field"> 
            <%= f.label :last_flight_number %><br>
    		<%= f.text_field :last_flight_number, :required => true, :placeholder => "Last flight number" %><br>
    		<br>
    		<%= f.label :arriving_time %><br>
  	        <%= f.date_field :arriving_time, :required => true, :placeholder => "Arriving time" %><br>
  	        <br>
    		<%= f.label :number_baggage %><br>
    		<%= f.number_field :number_baggage, :min => 0, :required => true, :placeholder => "Number baggage" %><br>
    		<br>
    		<%= f.label :destination %><br>
         	<%= f.text_field :destination, :required => true, :placeholder => "Destination" %><br>
   	        <br>
   	        <%= f.label :username %><br>
         	<%= f.text_field :request_id, :required => true, :placeholder => "Username" %><br>
   	        <br>
    		<br>
  	      </div>  
  	    <%= f.submit "Post",  class:'btn'%>    
  	    
        <% end %>
          


	

	
 </div>
 

</body>
</html>